body {
    margin: 0;
    font-family: "Urbanist";
    background-color: #141414;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.mobile_nav_btn {
    display: none;
}

.br_laptop {
    display: none;
}







                            /*PICTURES_BLOCK*/

.picture {
    display: block;
}

.picture > source {
    display: block;
}

.picture > img {
    display: block;
}




                            /*NAVIGATION*/

.navigation {
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 162px;
    box-sizing: border-box;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #262626;
}

.logo__nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}


                            /*HEADER*/

.header {
    max-width: 1920px;
    margin: 0 auto;
    padding: 150px 162px 100px;
    box-sizing: border-box;
    background: linear-gradient(
        120deg,
        #262626 0%,
        rgba(38, 38, 38, 0) 53%
    );
    display: flex;
    flex-direction: column;
    gap: 14px;
    border: 1px solid #262626;
}

                            /*SUB_HEADER*/
.sub__header {
    position: relative;
    z-index: 2;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    box-shadow: 
    0 -10px 0 0 #191919,
    0 10px 0 0 #191919;
}

.sub__header__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: #1A1A1A;
    border-radius: 12px;
    position: relative;
    border: 1px solid #262626;
}

.hero_img {
    display: block;
}

.hero_img > img {
    display: block;
}

.vector {
    position: absolute;
    top: 10%;
    right: 5%;
}

.sub__header__card__link_block {
    display: flex;
    gap: 30px;
}

.btn-sub__header__card__link_block {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    margin: 0;
    color: #fff;
}


                        /*LetS_Connect-block*/

.LetS_Connect-block {
    max-width: 1920px;
    padding: 150px 162px 0;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section_title {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
}

.zvezdi {
    position: absolute;
    top: -35px;
    left: -20px;
}

.LetS_Connect-form_block {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 12px;
    border: 1px solid #262626;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.form-1_input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.imput_first_name,
.imput_last_name,
.imput_email,
.imput_number {
    padding: 24px 20px;
    background-color: #1A1A1A;
    border-radius: 8px;
    border: 1px solid #262626;
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    margin: 0;
    color: #fff;
}

.imput_first_name::placeholder,
.imput_last_name::placeholder,
.imput_email::placeholder,
.imput_number::placeholder {
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    margin: 0;
}

.form-2_block_slide_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
    border-radius: 8px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    box-sizing: border-box;
}

textarea {
    resize: none;
    min-height: 170px;
    width: 100%;
    background-color: #1A1A1A;
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 24px 20px;
    box-sizing: border-box;
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    margin: 0;
    color: #fff;
}

textarea::placeholder {
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    margin: 0;
}

.privacy_policy_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox_block {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid #262626;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background-color: #1A1A1A;
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    background: #703BF7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; 
}


                    /*Discover_Locations-section*/


.Discover_Locations-section {
    max-width: 1920px;
    padding: 150px 162px 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.Discover_Locations-section-block {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Discover_Locations-section-tabs_block {
    max-width: 516px;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #1A1A1A;
    border-radius: 12px;
}
.btn_tabs {
    padding: 18px 24px;
    border-radius: 10px;
    border: 1px solid #262626;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    margin: 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.btn_tabs-active {
    background-color: #141414;
}

.Discover_Locations-section-cards_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.Locations-section-card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 12px;
    border: 1px solid #262626;
}


.Locations-section-card_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Locations-section-card_component {
    display: flex;
    gap: 10px;
}

.component-p {
    padding: 14px 20px;
    border-radius: 28px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    display: flex;
    gap: 6px;
    align-items: center;
}


                                /*Explore_World-section*/
                                

.Explore_World-section {
    max-width: 1597px ;
    margin: 0 auto;
    margin-top: 150px;
    padding: 80px;
    box-sizing: border-box;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.Explore_World-section_image-card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.item5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.Explore_World-section-title-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.z-index_2 {
    z-index: 3;
}


                            /*CTA*/
.CTA {
    max-width: 1920px;
    margin: 0 auto;
    padding: 100px 162px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    position: relative;
}

.CTA__title {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.abstract__left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.abstract__right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.br_laptop {
    display: none;
}

.br_mobile {
    display: none;
}

                            /*FOOTER*/
.footer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 100px 162px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.contact__footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input__footer {
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6%;
    margin: 0;
    width: 365px;
    height: 66px;
    background-color: #141414;
    border-radius: 12px;
    border: 1px solid #262626;
    box-shadow: none;
    padding-left: 58px;
    color: #fff;
}

.input__footer::placeholder {
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6%;
    margin: 0;
}

.label__block {
    position: relative;
}

.placeholder__left {
    position: absolute;
    left: 6%;
    bottom: 36%;
}

.placeholder__right {
    position: absolute;
    right: 6%;
    bottom: 28%;
}

.footer__navigation {
    width: 978px;
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ul__footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ul__footer > li {
    list-style: none;
}

                            /*SUB_FOOTER*/

.sub_footer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 16px 162px;
    box-sizing: border-box;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_footer__title {
    display: flex;
    gap: 38px;
}

.sub_footer__network {
    display: flex;
    gap: 10px;
}



.mobile {
    display: none;
}






.btn__black-active {
    color: #fff;
    padding: 16px 24px;
    border-radius: 10px;
    border: 1px solid #262626;
    text-decoration: none;
    background-color: #703BF7;
}